<?xml version="1.0"?>
<!--
/**
 * FlipDev_FixDepersonalize
 *
 * Prevents Magento's DepersonalizePlugin from clearing the customer session
 * during the TYPE_FORWARD second dispatch cycle used by Hyva Checkout.
 *
 * @author    Philipp Breitsprecher
 * @copyright Copyright (c) 2026 FlipDev
 * @license   https://opensource.org/licenses/MIT MIT License
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="FlipDev_FixDepersonalize" setup_version="1.0.0">
        <sequence>
            <module name="Magento_PageCache"/>
            <module name="Magento_Checkout"/>
            <module name="Magento_Customer"/>
            <module name="Hyva_Checkout"/>
        </sequence>
    </module>
</config>
